* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
/*Menu*/
#menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
#gameTitle {
    margin-bottom: 10px;
    font-size: 70px;
    color: green;
    text-align: center;
}
#startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 20px 0;
    background-color: #fdbb68;
    border-radius: 10px;
}
#startButton h2 {
    color: green;
    font-size: 40px;
}
#gameAuthor {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    font-size: 40px;
    color: green;
    text-align: center;
}
/*Game*/
#game {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
#gameText {
    margin: 0 100px;
}
#gameText h1 {
    text-align: center;
    color: green;
    font-size: 50px;
}
#buttons {
    display: flex;
    flex-direction: row;
}
.actionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    width: 300px;
    padding: 20px 10px;
    background-color: #fdbb68;
    border-radius: 10px;
}
.actionButton h2 {
    text-align: center;
    color: green;
    font-size: 30px;
}
/*Game Over*/
#gameOverScreen {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
#gameOverText {
    margin: 0 100px;
}
#gameOverText h1 {
    text-align: center;
    color: green;
    font-size: 50px;
}
#restartButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
    width: 300px;
    padding: 20px 10px;
    background-color: #fdbb68;
    border-radius: 10px;
}
#restartButton h2 {
    text-align: center;
    color: green;
    font-size: 30px;
}